header#main-header {
  height: 52px;
  position: fixed;
  background: #283c4a;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: flex-end; /* Align items to the bottom */
  z-index: 1;
}

header#main-header > .container {
  width: 1188px;
  padding-left: 24px;
  padding-right: 40px;
  display: flex;
  align-items: flex-end; /* Align items to the bottom */
  justify-content: space-between;
}

header .nav-items {
  display: flex;
  gap: 15px;
  align-items: flex-end; /* Align items to the bottom */
}

header .nav-items li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header .nav-items li span {
  color: #fff;
  font-size: 13px;
  font-family: "Source Sans Pro", sans-serif;
}

header .nav-items li svg {
  color: #fff;
  font-size: 20px;
}

header .search-bar {
  position: relative;
}

header .search-bar input {
  padding-left: 25px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: "Source Sans Pro", sans-serif;
  border: none;
}

@media (max-width: 768px) {
  header#main-header > .container {
    flex-direction: column;
    align-items: flex-start;
  }

  header .logo img {
    width: 30px;
    height: 30px;
  }

  header .search-bar input {
    width: 100%;
  }
}