header#main-header {
  height: 52px;
  background: #283c4a;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

header .search-bar {
  width: 300px; /* Adjust search bar width */
}

header .search-bar input {
  padding-left: 25px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: "Source Sans Pro", sans-serif;
  border: none;
}

header .nav-items {
  display: flex;
  gap: 15px;
  align-items: center;
}

header .nav-items li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header .nav-items li span {
  color: #fff;
  font-size: 13px;
  font-family: "Source Sans Pro", sans-serif;
}

header .nav-items li svg {
  color: #fff;
  font-size: 20px;
}

@media (max-width: 768px) {
  header .search-bar {
    width: 100%;
  }

  header .nav-items {
    flex-direction: column;
    align-items: flex-start;
  }
}